{{#each Note}}
<div id="cardNote" class="float-left ml-4 mr-4 mb-2">
  <div class="card text-white bg-dark ml-0 mr-0 mt-3" style="max-width: 17rem;">
    <div class="card-header d-flex justify-content-end">
      <div class="dropdown edit dropleft">
        <button class="btn-secondary dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-edit"></i>
        </button>
        <div class="dropdown-menu border-primary" aria-labelledby="dropdownMenuButton">
          {{>edit}}
        </div>
      </div>
      <form action="/delete" method="post">
      <input type="hidden" name="id" value="{{_id}}">
        <button class="delete" type="submit">
          <i class="fas fa-trash-alt"></i>
        </button>
      </form>
    </div>
    <div class="card-body text-light">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{content}}</p>
      <p class="card-text"><small class="text-muted">{{date}}</small></p>
    </div>
  </div>
</div>
{{else}}

{{/each}}